<!DOCTYPE html>
<html lang="en">
    <title>Manage ALL the Monsters</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <script src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://unpkg.com/vuex/dist/vuex.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.2.0/vue-resource.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
    <script src="https://kit.fontawesome.com/5c4ed8330a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"</script> -->
    <body class="dm_background">

                  <div id="app">
                        <form>
                                      <div class="row">
                                        <div class="col-sm-8">
                                          <h4>All Characters</h4>
                                          
                                         <table class="table table-bordered table-light">
                                            <thead class="thead-light">
                                               <tr class="row m-0">
                                                <!-- <th>Current Turn</th> -->
                                                 <th class="col-2">Turn</th>
                                                 <th class="col-3">Name</th>
                                                 <th class="col-4">Health</th>
                                                 <th class="col-3">Dead?</th>
                                               </tr>
                                            </thead>
                                            <tr class="row m-0" v-for="(cat, index) in cats" v-bind:style="cat.dead == true ? 'color: #ff0000;background:#d3d3d3;' : 'color:#000;'">
                                              <!-- <td></td> -->
                                              <td class="col-2">
                                                <span>{{ cat.turn }}</span>
                                              </td>
                                              <td class="col-3">
                                                <span>{{ cat.name }}</span>
                                              </td>
                                              <td class="col-4">
                                                <span>
                                                    <input type="button" class="btn btn-success btn-sm" @click="addHealth(cat, index)" value="+"/>
                                                    {{ cat.quantity }}/{{ cat.total }}
                                                  <input type="button" class="btn btn-info btn-sm" @click="removeHealth(cat, index)" value="-"/></span>
                                              </td>                                               
                                               <td class="col-3">
                                                <!-- <button type="button" class="btn btn-success" v-show="cat.inEditMode" @click="editItemComplete(cat, index)">Save</button>
                                                <button type="button" class="btn btn-info" v-show="!cat.inEditMode" @click="editItem(cat, index)">Edit</button> -->
                                                <button type="button" class="btn btn-danger btn-sm" @click="deadCat(cat, index)"><i class="fas fa-skull-crossbones"></i></button>
                                                <button type="button" class="btn btn-secondary btn-sm" @click="removeCat(cat, index)"><i class="fas fa-trash-alt"></i></button>
                                                <!-- <button type="button" class="btn btn-danger" @click="removeAllCats(index)"><i class="fa fa-remove"></i> Delete All</button> -->
                                              </td>
                                            </tr>
                                          </table>
                                        </div>
                                        
                                        <!-- <div class="col-sm-4">
                                              <h4>Current Turn</h4>
                                              <div class="current_turn col-md-3 mb-4" v-for="(item,index) in sortedCats" >
                                                <img class="card-img-top" v-bind:src="'images/' + item.image + '.jpg'" alt="Card image cap" v-bind:style="item.dead == true ? 'opacity: 0;' : 'color:#000;'" />
                                                <div class="card-body current_body">
                                                  <h5 class="card-title current_title">{{ item.image }}</h5>
                                                  <p class="card-title current_title">{{ item.quantity }}/{{item.total}}</p>
                                                  <button type="button" class="btn btn-secondary" @click="nextTurn(item, index)">Next Turn</button>
                                                  <img style="width:265px;position:absolute;top:0px;left:5px;" v-if="item.bloody == true && item.dead != true" v-bind:src="'images/bloody.png'" />
                                                  <img style="width:255px;height:300px;position:absolute;top:0px;left:15px;" v-if="item.dead == true" v-bind:src="'images/dead.jpg'" />
                                                </div>
                                              </div>
                                            </div> -->
                                            <div class="col-4">
                                              <h4>Current Location</h4>
                                              <div>
                                                <img class="card-img-top" style="height:200px;width:225px;background:transparent;" v-bind:src="'images/' + currentLocation + '.jpg'" alt="Card image cap"/>
                                              </div>
                                              <div class="form-group row-10" style="background:#fff;"> 
                                              
                                                <select class="form-control" v-model="currentLocation">
                                                  <option>Cave</option>
                                                  <option>Forest</option>
                                                  <option>Quarry</option>
                                                  <option>Red_Larch</option>
                                                  <option>River</option>
                                                  <option>Scarlet_Moon_Hall</option>
                                                  <option>Stone_Bridge</option>
                                                  <option>MAP_Red_Larch</option>
                                                  <option>MAP_Dessarin_Valley</option>
                                                  <option>MAP_Womford</option>
                                                  <option>MAP_Beliard</option>
                                                  <option>MAP_Waterdeep</option>
                                                  <option>MAP_Goldenfields</option>
                                                  <option>MAP_Rivergard_Keep</option>
                                                  <option>MAP_Sighing_Valley</option>
                                                  <option>MAP_Sumber_Hills</option>
                                                </select>
                                            </div>
                                            <button type="button" @click="setLocation(currentLocation)" class="btn btn-success">Set Location</button><br/><br/>
                                            </div>
                                            <a href="createMonster.html" type="button" class="btn btn-warning">Add New Monster</a>
                                      </div>
                                          
                                            
                                            
                        </form>
                      </div>
                  
    </body>
</html>
