<!DOCTYPE html>
<html lang="en">
    <title>Manage ALL the Monsters</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <script src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://unpkg.com/vuex/dist/vuex.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.2.0/vue-resource.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"</script> -->
    <body class="dm_background">

                  <div id="app">
                        
                        <form>
                                <!-- <div v-for="(cat,index) in cats">
                                        <p>
                                        <span>{{cat}}</span> <button @click="removeCat(index)">Remove</button>
                                        </p>
                                      </div> -->
                                      <h2>Monster Manager</h2>
                                      <br/>
                                      <div>
                                          <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Name</label>
                                                <div class="col-sm-10">
                                                  <input type="text" v-model="name" class="checkbox">
                                                </div>
                                              </div>
                                              <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Health</label>
                                                <div class="col-sm-10">
                                                  <input type="number" v-model="quantity" class="checkbox">
                                                </div>
                                              </div>
                                          
                                            <div class="form-group row"> 
                                              <label class="col-sm-2 col-form-label">Type of Monster</label>
                                                <select class="form-control col-sm-2" v-model="image">
                                                    <option>air_cultist</option>
                                                    <option>howling_hatred_priest</option>
                                                    <option>earth_guard</option>
                                                    <option>earth_priest</option>
                                                    <option>fire_cultist</option>
                                                    <option>flame_priest</option>
                                                    <option>water_priest</option>
                                                    <option>water_reaver</option>
                                                    <option>gargoyle</option>
                                                    <option>water_reaver</option>
                                                    <option>sacred_stone_monk</option>
                                                    <option>hellenrae</option>
                                                    <option>lich</option>
                                                    <option>duergar</option>
                                                    <option>werewolf</option>
                                                    <option>azer</option>
                                                    <option>elizar_dryflagon</option>
                                                    <option>fire_elemental</option>
                                                    <option>giant_vulture</option>
                                                </select>
                                            </div>
                                            <button type="button" @click="addCat" class="btn btn-primary" >Add Monster</button>
                                        </div>
                                        <br/>
                                      <!-- <div>
                                        <p>Name: <input v-model="name"></p> <p>Quantity: <input type="number" v-model="quantity"></p>
                                        <button @click="addCat">Add Item</button>
                                      </div> -->
                                      <h2>List of Current Monsters</h2>
                                      <table class="table table-condensed table-hover table-light">
                                            <thead class="thead-light">
                                               <tr>
                                                 <th>Name</th>
                                                 <th>Health</th>
                                                 <th>Total Health</th>
                                                 <th>Monster Type</th>
                                                 <th>Actions</th>
                                               </tr>
                                            </thead>
                                            <tr v-for="(cat, index) in cats">
                                              <td>
                                                <span v-show="!cat.inEditMode">{{ cat.name }}</span>
                                                <input v-bind:placeholder="cat.name" v-show="cat.inEditMode" v-model="cat.name" />
                                              </td>
                                              <td>
                                                <span v-show="!cat.inEditMode">{{ cat.quantity }}</span>
                                                <input type="number" v-bind:placeholder="cat.quantity" v-show="cat.inEditMode" v-model="cat.quantity" /> 
                                              </td>
                                              <td>
                                                 <span>{{ cat.total }}</span>
                                               </td>
                                               <td>
                                                    <span>{{ cat.image }}</span>
                                                  </td>
                                               
                                               <td>
                                                <button type="button" class="btn btn-success" v-show="cat.inEditMode" @click="editItemComplete(cat)"><i class="fa fa-save"></i> Save</button>
                                                <button type="button" class="btn btn-info" v-show="!cat.inEditMode" @click="editItem(cat)"  ><i class="fa fa-edit"></i> Edit</button>
                                                <button type="button" class="btn btn-danger" @click="removeCat(cat, index)"><i class="fa fa-remove"></i> Delete</button>
                                                <!-- <button type="button" class="btn btn-danger" @click="removeAllCats(index)"><i class="fa fa-remove"></i> Delete All</button> -->
                                              </td>
                                            </tr>
                                          </table>


                        </form>
                        
                        
                      </div>
                        
                  
    </body>
</html>
