body {
  padding: 1%;
  background-color: #fff
}

.background {
  background-image: url(images/background_city.jpg);
  background-size: cover;
}

.dm_background {
  background-image: url(images/dm_background.jpg);
  /*background-position: center center;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  color: #fff;
}

h2, h4 {
  font-family: 'Nunito', sans-serif;
  color: #fff;
}

.card-body {
  background:#fff;
  border-bottom-left-radius: calc(.25rem - 1px);
  border-bottom-right-radius: calc(.25rem - 1px);
}

.card-img-top {
  height: 300px;
  object-fit: scale-down;
  background-color: #fff;
}

.card-title {
  text-align: center;
  color: black;
}

#shopping-list-table{
  table-layout: fixed;
  width: 50%;
  vertical-align: middle;
}

.form-group {
 color: #fff; 
}

button {
  margin-left: 2%;
}

.current_turn {
  background-color: darkslategray;
  padding:10px;
  border-radius: 2%;
}

.current_turn img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0px 0px 9px 4px #c2c2c2;
  animation: glow 1.5s linear infinite alternate;
}

@keyframes glow{
  to {
    box-shadow: 0px 0px 20px 10px #fff;
  }
}

.current_body {
  background-color: darkslategray;
  text-align: center;
}

.current_title {
  color: white;
}

.viewer-images {
    width: 400px;
    height: 400px;
}