<!DOCTYPE html>
<html lang="en">
    <title>Viewer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <script src="view.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://unpkg.com/vuex/dist/vuex.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.2.0/vue-resource.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- <meta http-equiv="refresh" content="5"> -->
    <body class="viewer_background" >
            <!-- <h2>Viewer</h2> -->
            <div class="container" id="app">
              <div class="dynamic_background" v-for="currentLocation in locations">
                <img v-bind:src="'images/' + currentLocation.currentLocation + '.jpg'" />
              </div>
                <div class="row">
                    <div class="col-md-3 mb-4" v-if="item.image != 'PLAYER_Orla' && item.image != 'PLAYER_Talwyn' && item.image != 'PLAYER_Tima' && item.image != 'PLAYER_Vino' && item.image != 'PLAYER_Xanthan'" v-for="(item,index) in items" >
                      <img class="card-img-top" v-bind:src="'images/' + item.image + '.jpg'" alt="Card image cap" v-bind:style="item.dead == true ? 'opacity: 0;' : 'color:#000;'" />
                      <img src="images/flame.gif" v-if="item.image == 'flame_priest'" v-bind:style="item.image == 'flame_priest' ? 'position:absolute;top:-2px;left:182px;height:106px;width:68px' : 'color:#000;'"/>
                      <img src="images/flame.gif" v-if="item.image == 'fire_elemental'" v-bind:style="item.image == 'fire_elemental' ? 'position:absolute;top:25px;left:-15px;height:275px;width:300px' : 'color:#000;'"/>
                      <img src="images/rain.gif" v-if="item.image == 'water_priest'" v-bind:style="item.image == 'water_priest' ? 'position:absolute;left:15px;height:340px;width:250px' : 'color:#000;'"/>
                      <img src="images/rain.gif" v-if="item.image == 'water_reaver'" v-bind:style="item.image == 'water_reaver' ? 'position:absolute;left:15px;height:340px;width:250px' : 'color:#000;'"/>
                      <img src="images/air.gif" v-if="item.image == 'air_cultist'" v-bind:style="item.image == 'air_cultist' ? 'position:absolute;left:15px;height:340px;width:250px' : 'color:#000;'"/>
                      <img src="images/earth.gif" v-if="item.image == 'earth_priest'" v-bind:style="item.image == 'earth_priest' ? 'position:absolute;left:15px;height:340px;width:250px' : 'color:#000;'"/>
                      <img src="images/earth.gif" v-if="item.image == 'earth_guard'" v-bind:style="item.image == 'earth_guard' ? 'position:absolute;left:15px;height:340px;width:250px' : 'color:#000;'"/>
                      <div class="card-body">
                        <!-- <h5 class="card-title">{{ item.name }}</h5> -->
                        <img style="width:265px;position:absolute;top:0px;left:5px;" v-if="item.bloody == true && item.dead != true" v-bind:src="'images/bloody.png'" />
                        <img style="width:255px;height:300px;position:absolute;top:0px;left:15px;" v-if="item.dead == true" v-bind:src="'images/dead.jpg'" />
                      </div>
                    </div>
                  </div>
              </div>
            <!-- <div id="app">
                <div class="card-group">
                    <div class="card row col-md-12" v-for="(item,index) in items">
                      <img class="card-img-top" v-bind:src="'images/' + item.image + '.jpg'" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                      </div>
                    </div>
                </div>
            </div> -->
                  
    </body>
</html>