<!DOCTYPE html>
<html lang="en">
    <title>Viewer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <script src="view.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://unpkg.com/vuex/dist/vuex.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.2.0/vue-resource.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- <meta http-equiv="refresh" content="5"> -->
    <body class="background">

            <!-- <h2>Viewer</h2> -->
            <div class="container" id="app">
                <div class="row">
                    <div class="col-md-3 mb-4" v-if="item.image != 'PLAYER'" v-for="(item,index) in items" v-bind:style="item.dead == true ? 'color: #ff0000; text-decoration: line-through;' : 'color:#000;'" >
                      <img class="card-img-top" v-bind:src="'images/' + item.image + '.jpg'" alt="Card image cap" />
                      <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <img style="width:265px;position:absolute;top:0px;left:5px;" v-if="item.bloody == true" v-bind:src="'images/bloody.png'" />
                        <img style="width:200px;position:absolute;top:15px;left:40px;" v-if="item.dead == true" v-bind:src="'images/dead.png'" />
                      </div>
                    </div>
                  </div>
              </div>
            <!-- <div id="app">
                <div class="card-group">
                    <div class="card row col-md-12" v-for="(item,index) in items">
                      <img class="card-img-top" v-bind:src="'images/' + item.image + '.jpg'" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                      </div>
                    </div>
                </div>
            </div> -->
                  
    </body>
</html>